$font-normal: 'GandhiSansRegular', sans-serif;
$font-bold: 'GandhiSansBold', sans-serif;
$text-color: #d9d9d9;
$color-bombay: #aeb5be;
$color-paarl: #a16032;
$color-metallic-copper: #67381c;
$color-sambuca: #321c0f;
