@import-normalize;
@import './variables.scss';

body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	background-image: linear-gradient($color-bombay, $color-paarl);
	box-sizing: border-box;
}

body::-webkit-scrollbar {
	width: 3px;
}

body::-webkit-scrollbar-track {
	background: linear-gradient($color-bombay, $color-paarl);
}

body::-webkit-scrollbar-thumb {
	background-color: $color-metallic-copper;
	border-radius: 20px;
}

h1 {
	color: $color-sambuca;
}

@font-face {
	font-family: 'GandiSansRegular';
	src: local('GandiSansRegular'), url('../assets/GandhiSans-Regular.otf') format('truetype');
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'GandiSansBold';
	src: local('GandiSansBold'), url('../assets/GandhiSans-Bold.otf') format('truetype');
	font-weight: 700;
	font-display: swap;
}
